
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>BestSellOnline</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>  
    <script defer src="/scripts/page-transition.js"></script>
  </head>
  <body>
    <header>
      <div class="header-left-section">
        <img class="corner-logo" src="../assets/images/logo2.png" alt="logo">
      </div>
      <div class="header-right-section">
        <ul class="header-right-content">
          <li><a href="./app.component.html" class="header-buttons">Home</a></li>
          <li><a class="header-buttons" href="">About</a></li>
          <li><a class="header-buttons" href="">Contact</a></li>
        </ul>
      </div>
    </header>
    <div class="transition-fade" id="swup">
      <router-outlet>
      <button (click)="disable()" (click)="goToPage('CRUD')" id="crud-button">
        Wypróbuj naszą tabelę sam !
      </button>
      </router-outlet>
    </div>
</body>
</html>
