/* You can add global styles to this file, and also import other style files */
html{
    background-color: #212121;
}
body{
    padding: 0;
    color: white;
    font-family: 'Roboto', Arial;
}

.transition-fade{
    padding: 8%;
    padding-top: 10%;
}