/* You can add global styles to this file, and also import other style files */
html{
    background-image: linear-gradient(to left,#18016d,#090909);
}
body{
    padding: 0;
    color: white;
    font-family: 'Roboto', Arial;
}

.transition-fade{
    padding: 8%;
    padding-top: 15%;
}