<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>BestSellOnline</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script defer src="/node_modules/swup/dist/swup.min.js"></script>  
    <script defer src="/scripts/page-transition.js"></script>
</head>
<body>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            </button>
            <span class="example-spacer"></span>
            <button mat-raised-button color="warn" (click)="openDialog()">Add Item</button>
          </mat-toolbar>
</body>
</html>