body{
    margin-top: 190px;
    padding: 0;
    background-image: linear-gradient(to left,#18016d,#090909);
    color: white;
    font-family: 'Roboto', Arial;
}

.transition-fade{
    padding: 8%;
    padding-top: 5%;
}